Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*
WarningsAsErrors: >
  bugprone-*,
  clang-analyzer-*,
  performance-*
HeaderFilterRegex: '^(?!.*vendored/).*$'
FormatStyle: file
