Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  modernize-*,
  performance-*,
  readability-*
WarningsAsErrors: >
  bugprone-*,
  clang-analyzer-*,
  performance-*
HeaderFilterRegex: '^(?!.*vendored/).*$'
FormatStyle: file
